[alias]
  st = status
  stt = status -uno
  cm = commit
  difff = diff --name-only
  co = checkout
  logg = log --graph --decorate
  g = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h%Creset %cd %Cblue%cn%Creset %s%Cred%d%Creset'
  ss = stash save
  sp = stash pop
  al = config --get-regexp alias.*
